.slideContent, .slideContentEntry, .slide {
    margin: 0.5in;
    border: 1px solid #000;
    background-color: #eee;
}

.slide {
    overflow:hidden;
}

.slideContentEntry {
    overflow-y: auto;
}

.slideContent{display: none;}
@media print {
    .slide {
        margin: 0;
        border: none;
        /*page-break-after: always;*/
         background-color: #fff;
    }
    .slideContent, .convert{
        display:none;
    }
}