
/** Begin reset **/
*{
    margin-bottom  : 0;
    margin-top: 0;
}
h5 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}
/** End Reset **/

.slideContent div, .slideContentEntry div, .slide div,
.slideContent p, .slideContentEntry p, .slide p {
    margin: 0;
}
.slideContent, .slideContentEntry, .slideContainer {
    margin: 0.5in;
    padding: 0.5in;
    border: 1px solid #000;
    background-color: #eee;
    line-height: 1;
    font-family:Consolas, 'Lucida Console', 'DejaVu Sans Mono', monospace;
}

.formatAlert {
    color: #ff0000;
    display:none;
}


.slide, .slideContainer {
    overflow:hidden;
    
}

.slideContentEntry {
    overflow-y: auto;
}

.slideContent{display: none;}
@media print {
    .slideContainer {
        margin: 0;
        border: none;
        /*page-break-after: always;*/
         background-color: #fff;
    }
    .settings, .slideContentEntry,.slideContent, .convert, .random{
        display:none;
    }
}

@page{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
}